.v-application .v-content .alert {
    position: relative;
    padding: .75rem 1.25rem!important;
    margin: 1rem 0!important;
    border: 1px solid transparent;
    border-radius: .125rem;
    border-left-width: 6px;
}

.v-application .v-content .alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.v-application .v-content .alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
    
.v-application .v-content .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.v-application .v-content .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.v-application .v-content .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.v-application .v-content .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.v-application .v-content .alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.v-application .v-content .alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}
